.contentAnchor{
    -fx-padding: 20;
    -fx-background-color: gray;
}

.headerPane{
    -fx-background-color: #4646ec;
    -fx-alignment: CENTER;
}

.footerPane{
    -fx-background-color: #5c5ca5;
    -fx-alignment: CENTER;
}