.contentAnchor{
    -fx-padding: 20;
    -fx-background-color: gray;
}

.headerPane{
    -fx-background-color: #4646ec;
    -fx-alignment: CENTER;
}

.footerPane{
    -fx-background-color: #5c5ca5;
    -fx-alignment: CENTER;
}

.contentArea{
    -fx-alignment: CENTER;
    -fx-padding: 20;

}

.contentVBox{
    -fx-padding: 10;
    -fx-spacing: 5;
}

.contentTitle{
    -fx-font-size: 25;
    -fx-alignment: center;
    -fx-fill-width: true;
}

.textBox{
    -fx-border-color: black;
}

.actionButton{
    -fx-background-color: grey;
}